<h4><%= @total %> Total Stores</h4>
<ul>
<%@stores.each do |store| %>
<li><%= link_to "#{store['longName']}", store_path(id: store["storeId"]) %></li>
distance:<%= store["distance"] %>
<br></br>
phone:<%= store["phone"] %>
<br></br>
city:<%= store["city"] %>
<br></br>
type:<%= store["storeType"] %>
<br></br>
<br></br>
<%end %>
</ul>
