<h4><%= @total %> Total Stores</h4>
<br>


<ul>
<%@stores.each do |store| %>
  <li><%= link_to "#{store.longName}", store_path(id: store.storeId) %></li>
  Distance: <%= store.distance %>
  <br></br>
  Phone: <%= store.phone %>
  <br></br>
  City: <%= store.city %>
  <br></br>
  Type: <%= store.storeType %>
  <br></br>
  <br></br>
<%end %>
</ul>
