<h4>Total Stores:<%= @stores.count %></h4>
<ul>
<%@stores.each do |store| %>
<li><%= store["longName"] %></li>
distance:<%= store["distance"] %>
<br></br>
phone:<%= store["phone"] %>
<br></br>
city:<%= store["city"] %>
<br></br>
type:<%= store["storeType"] %>
<br></br>
<br></br>
<%end %>
</ul>
