
<%= @store.longName %>
<br></br>

<%= @store.address %>
<br></br>

<%= @store.city %>
<br></br>

<%= @store.region %>
<br></br>

<%= @store.fullPostalCode%>
<br></br>

<%= @store.storeType %>
<br></br>

<ul>
  <% @hours.each do |time| %>
<li>
  <%=time %>
</li>
<%end %>
</ul>
