
<%= @store["longName"] %>

<%= @store["address"] %>

<%= @store["city"] %>

<%= @store["region"] %>

<%= @store["fullPostalCode"] %>
<%= @store["storeType"] %>

<ul>
  <% @hours.each do |time| %>
<li>
  <%= time %>
</li>
<%end %>
</ul>
