<ul>
<li>
<%= @store["longName"] %>
</li>
<li>
<%= @store["address"] %>
</li>
<li>
<%= @store["city"] %>
</li>
<li>
<%= @store["region"] %>
</li>
<li>
<%= @store["fullPostalCode"] %>
</li>
<li>
<%= @store["storeType"] %>
</li>
<li>
</li>
</ul>
